{% extends "base.html" %}

{% block title %} Pet List {% endblock %}
{% block content %}
<div class="container">
    <h2>Welcome {{user.first_name}}</h2>
    <div style="float: right;"><a class="btn-floating btn-large waves-effect waves-light red" href="{% url 'pet_new' %}"><i class="material-icons">add</i></a></div>
    <table class="striped">
        <thead>
            <th>Name</th>
            <th>Breed</th>
            <th>Date of Birth</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for pet in object_list %}
            <tr>
                <td>{{pet.pet_name}}</td>
                <td>{{pet.pet_breed}}</td>
                <td>{{pet.pet_age}}</td>
                <td><a class="btn green" href="{% url 'pet_edit' pet.pk %}">Edit Pet</a></td>
                <td><a class="btn green" href="{% url 'pet_detail' pet.pk %}">View Reports</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>
{% endblock  %}

