{% extends "base.html" %}

{% block title %} Report List {% endblock %}
{% block content %}
<div class="container">
    <h2>Reports for {% for pet in reports.pets %}{{pets.pet_name}}
    {% endfor%}</h2>
    <div style="float: right;"><a class="btn-floating btn-large waves-effect waves-light green accent-3" href="{% url 'report_new'  %}"><i class="material-icons">add</i></a></div>
                       <table class="striped" style=" margin-left: auto; margin-right: auto;">
                <thead>
                    <th>Report Name</th>
                    <th>Report Type</th>
                    <th>Report Details</th>
                </thead>
                <tbody>
                    {% for report in object_list %}
                    <tr>
                        <td>{{report.reportName}}</td>
                        <td>{{report.reportType}}</td>
                        <td>{{report.reportDetails}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>
{% endblock  %}

