{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid green accent-1 " style="text-align: center; padding: 100px;">
    <h1>Welcome to Pet Report</h1>
    <h5>View <a  href="{% url 'pet_list' %}">pet list</a> here</h5>
    
</div> 
{% else %}
<div class="container-fluid green accent-1 " style="text-align: center; padding: 100px;">
    <h1>Welcome to Pet Report!</h1>
    <h5>To get started please <a href="{% url "login" %}">login</a> or <a href="{% url "signup" %}">signup</a></h5>
</div> 
{% endif %}
{% endblock content %}